@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 80px;
}

html, body {
  margin: 0;
}

body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

.active,
.router-link-exact-active {
  font-weight: 700;   
  color: #facc15;      
}
